# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-admins-wh40k
# will be requested for review when someone opens a pull request.
*       @BSData/data-admins-wh40k

# Order is important; the last matching pattern takes the most precedence.

# Aeldari
Drukhari.cat              @FarseerVeraenthis
Harlequins.cat            @FarseerVeraenthis
Asuryani.cat              @FarseerVeraenthis

# Chaos
Heretic\ Astartes.cat    @ilaunchbury
Thousand\ Sons.cat       @ilaunchbury
Death\ Guard.cat         @ilaunchbury

# Imperium
Adeptus\ Astartes.cat    @acebaur
Adeptus\ Mechanicus.cat  @ohenrik
Astra\ Militarum.cat     @cultiststeve
Deathwatch.cat           @acebaur
Grey\ Knights.cat        @tekton

# Other Xenos
Genestealer\ Cults.cat   @GenWilhelm
Necrons.cat              @Kohato
Orks.cat                 @teage-like-league
T?au\ Empire.cat         @amis92  
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Tyranids.cat             @GenWilhelm

