# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-admins-wh40k
# will be requested for review when someone opens a pull request.
*       @BSData/data-admins-wh40k

# Order is important; the last matching pattern takes the most precedence.

# Aeldari
Drukhari.cat              @Mad-Spy
Harlequins.cat            @Mad-Spy
Asuryani.cat              @Mad-Spy

# Chaos
Heretic\ Astartes.cat    @Mad-Spy
Thousand\ Sons.cat       @Mad-Spy
Death\ Guard.cat         @Mad-Spy
Gellerpox\ Infected.cat	 @Mad-Spy
Servants\ of\ the\ Abyss.cat  @Mad-Spy

# Imperium
Adeptus\ Astartes.cat    @Mad-Spy
Adeptus\ Mechanicus.cat  @Mad-Spy
Astra\ Militarum.cat     @Mad-Spy
Deathwatch.cat           @Mad-Spy
Grey\ Knights.cat        @Mad-Spy
Elucidian\ Starstriders.cat	@Mad-Spy

# Other Xenos
Genestealer\ Cults.cat   @Mad-Spy
Necrons.cat              @Mad-Spy
Orks.cat                 @Mad-Spy
T?au\ Empire.cat         @Mad-Spy  
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Tyranids.cat             @Mad-Spy
Kroot.cat                @Mad-Spy

